@page "/exercices"
@using FriendsNess.Client.Http
@using FriendsNess.Client.Http.Services
@using FriendsNess.Shared.Domain.Exercices
@inject IExercicesService ExercicesService

<PageTitle>Exercices</PageTitle>

<MudContainer Fixed="true">
    <MudToolBar DisableGutters="true">
        <MudText Typo="Typo.h4">Exercices</MudText>
        <MudSpacer />
        <MudButton StartIcon="@Icons.Material.TwoTone.Add" DisableElevation="true" Color="Color.Primary" Variant="Variant.Filled">Add Exercice</MudButton>
    </MudToolBar>
    <MudGrid>
        <MudItem md="6" xs="12">
            <MudTextField T="string" Margin="Margin.Dense" FullWidth="true" Label="Search" Variant="Variant.Outlined" ValueChanged="OnFilterNameChanged"></MudTextField>
        </MudItem>
        <MudItem md="3" xs="12">
            <MudSelect Margin="Margin.Dense" Dense="true" T="ExerciceCategory" Label="Category" Variant="Variant.Outlined" ValueChanged="OnFilterExerciceCategoryChanged">
                @foreach (var category in Enum.GetValues<ExerciceCategory>())
                {
                    <MudSelectItem Value="category">@Enum.GetName(typeof(ExerciceCategory), category)</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem md="3" xs="12">
            <MudSelect Margin="Margin.Dense" Dense="true" T="BodyPart" Label="Body Part" Variant="Variant.Outlined" ValueChanged="OnFilterBodyPartChanged">
                @foreach (var bodyPart in Enum.GetValues<BodyPart>())
                {
                    <MudSelectItem Value="bodyPart">@Enum.GetName(typeof(BodyPart), bodyPart)</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
    </MudGrid>
    <MudTabs Outlined="true" Position="Position.Top" Rounded="true" Border="true" Centered="true" ApplyEffectsToContainer="true" Class="mt-4" PanelClass="pa-6">
        <MudTabPanel Text="Mine">
            <MudText Align="Align.Center">No exercices added</MudText>
        </MudTabPanel>
        <MudTabPanel Text="All">
            @if (_exercices.Count() > 0)
            {
                <MudGrid>
                    @foreach (var exercice in _exercices)
                    {
                        <MudItem md="3">
                            <MudCard Outlined="true">
                                <MudCardHeader>
                                    <div class="d-flex justify-content-between w-100">
                                        <MudText>@exercice.Name</MudText>
                                        <MudChip Color="Color.Primary" DisableRipple="true">@exercice.ExercicedBodyParts</MudChip>
                                    </div>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudText Typo="Typo.body2">Category: @exercice.Category</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    }
                </MudGrid>
            }
            else
            {
                <MudText Typo="Typo.subtitle1" Align="Align.Center">No exercices found</MudText>
            }
        </MudTabPanel>
    </MudTabs>
</MudContainer>